src/main/webapp/wsdl/FilmServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://example.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://example.com" xmlns:intf="http://example.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://example.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="id" type="xsd:string"/>
   <complexType name="FilmEntity">
    <sequence>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="id" nillable="true" type="xsd:string"/>
     <element name="image" nillable="true" type="xsd:string"/>
     <element name="isLiked" nillable="true" type="xsd:boolean"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="producer" nillable="true" type="xsd:string"/>
     <element name="year" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="getFilmReturn" type="impl:FilmEntity"/>
   <element name="id1" type="xsd:string"/>
   <element name="deleteFilmReturn" type="xsd:boolean"/>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="getAllFilmsReturn" type="impl:ArrayOf_xsd_anyType"/>
   <element name="filmEntity" type="impl:FilmEntity"/>
   <element name="createFilmReturn" type="xsd:boolean"/>
   <element name="id2" type="xsd:string"/>
   <element name="updateFilmReturn" type="xsd:boolean"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="updateFilmRequest">

      <wsdl:part element="impl:id2" name="id">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllFilmsRequest">

   </wsdl:message>

   <wsdl:message name="createFilmResponse">

      <wsdl:part element="impl:createFilmReturn" name="createFilmReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getFilmResponse">

      <wsdl:part element="impl:getFilmReturn" name="getFilmReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateFilmResponse">

      <wsdl:part element="impl:updateFilmReturn" name="updateFilmReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteFilmRequest">

      <wsdl:part element="impl:id1" name="id">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createFilmRequest">

      <wsdl:part element="impl:filmEntity" name="filmEntity">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteFilmResponse">

      <wsdl:part element="impl:deleteFilmReturn" name="deleteFilmReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getFilmRequest">

      <wsdl:part element="impl:id" name="id">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllFilmsResponse">

      <wsdl:part element="impl:getAllFilmsReturn" name="getAllFilmsReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="FilmServiceImpl">

      <wsdl:operation name="getFilm" parameterOrder="id">

         <wsdl:input message="impl:getFilmRequest" name="getFilmRequest">

       </wsdl:input>

         <wsdl:output message="impl:getFilmResponse" name="getFilmResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteFilm" parameterOrder="id">

         <wsdl:input message="impl:deleteFilmRequest" name="deleteFilmRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteFilmResponse" name="deleteFilmResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllFilms">

         <wsdl:input message="impl:getAllFilmsRequest" name="getAllFilmsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllFilmsResponse" name="getAllFilmsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createFilm" parameterOrder="filmEntity">

         <wsdl:input message="impl:createFilmRequest" name="createFilmRequest">

       </wsdl:input>

         <wsdl:output message="impl:createFilmResponse" name="createFilmResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateFilm" parameterOrder="id">

         <wsdl:input message="impl:updateFilmRequest" name="updateFilmRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateFilmResponse" name="updateFilmResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="FilmServiceImplSoapBinding" type="impl:FilmServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getFilm">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getFilmRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getFilmResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteFilm">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteFilmRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteFilmResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllFilms">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllFilmsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllFilmsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="createFilm">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createFilmRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createFilmResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateFilm">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateFilmRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateFilmResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="FilmServiceImplService">

      <wsdl:port binding="impl:FilmServiceImplSoapBinding" name="FilmServiceImpl">

         <wsdlsoap:address location="http://localhost:8080/SOAP-service/services/FilmServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
